/*************
Main
*************/
.headerImage {
  float: right;
  width: 15%;
}
.para {
  width: 50%;
  display: block;
}
.opener {
  width: 100%;
  height: 200px;
  height: 300px;
}
.myNav {
  margin-bottom: 0;
}
footer {
  background-color: black;
  padding: 10px;
  text-align: center;
  color: gray;
}
.container2 {
  display: flex;
  margin-bottom: 300px;
}
.indexBox {
  padding: 80px;
  background-color: gray;
  margin: 20px;
}
.indexBox li {
  display: inline-block;
}

/*************
Techniques
*************/
#chiropractic {
  height: 600px;
}
#therEx {
  height: 600px;
  background-color: lightgray;
}
#manual {
  height: 600px;
}
#nutrition {
  height: 600px;
  background-color: lightgray;
}
/*************
About
*************/
.aboutBody {
  width: 80%;
  padding: 0 10%;
  margin-bottom: 100px;
}
/*.aboutThumbnails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
Trying to figure out flexbox

*/


/*************
Contact
*************/
#header {
  margin-bottom: 200px;
}



/*************
Photo Gallery
*************/
#photoHeader {
  margin-bottom: 800px;
}
.photos {
  margin-bottom: 100px;
}
/*************
Carousel
*************/

.carousel-inner > .item > img {
    margin: 0 auto;
    width:50%;
    height:50%;
}
/*************
Jumbotron
*************/
.jumbotron {
  padding: 50px;
}

/*************
Back to top button
*************/
a.back-to-top {
	display: none;
	width: 80px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 60px;
  background: url(../img/icon-arrow-up-b-128.png) no-repeat center;
}

/*************
Front page thumbnails
*************/
.contentThumbnails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
